:host, paper-scroll-header-panel {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

paper-scroll-header-panel {
  display: flex;
  flex-direction: column;
}

.paper-header {
  position: relative;
  padding: 1%;
  @apply(--shadow-elevation-2dp);
}

.heading {
  @apply(--paper-font-display4);
  margin: 0;
  padding: 0.5%;
}
