pc-filter {
  height: 100%;
}

.title {
  @apply(--paper-font-headline);
  margin: 0;
  padding: 1%;

  background-color: var(--paper-teal-300);

  @apply(--shadow-elevation-2dp);
}

.selectors {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* Paper seam */
  padding-bottom: 1.5%;
  border-bottom: 1px solid #e0e0e0;
}

.selector {
  flex-grow: 1;
  min-width: 400px;
}

.bottom {
  height: 100%;
  background-color: var(--paper-teal-300);

  @apply(--shadow-elevation-2dp);
}

.next-button {
  margin: 1.95%;
  background: var(--paper-amber-a400);
}
