.title {
  @apply(--paper-font-subhead);
  margin: 2%;
  margin-bottom: 1% !important;
}

.grid {
  /* move grid down 60px to be aligned with grid in article-selector */
  position: relative;
  top: 74px;

  /* Set checkbox color */
  --primary-color: var(--paper-amber-a700);
}

.indented {
  margin-left: 3.6%;
}
