.title {
  @apply(--paper-font-subhead);
  margin: 2%;
  margin-bottom: 1% !important;
}

.filter {
  margin: 2%;
  margin-top: 1% !important;

  /* Setting underline color when focused */
  --paper-input-container-focus-color: var(--paper-amber-a400);
}

.grid {
  position: relative;
  bottom: 0;
  /* Set checkbox color */
  --primary-color: var(--paper-amber-a700);
}

.indented {
  margin-left: 67px;
}
