.title {
  @apply(--paper-font-headline);
  margin: 0;
  padding: 1%;

  /* Paper seam */
  border-bottom: 1px solid #e0e0e0;
}

.lists {
  width: 100%;

  /* Paper seam */
  padding-bottom: 1.5%;
  border-bottom: 1px solid #e0e0e0;
}

.list {
  width: 100%;
}

.back-button {
  margin: 1.95%;
}
